body {
  background-image: url("../img/adventure-alpine-background-black-and-white-355747.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.row-main {
  height: 100%;
}
