body {
  background-image: url("../img/IMG_1498.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.row-main {
  height: 100%;
}
